#downloadPdfCustomSelectionToolbar {
  z-index: 2050;
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(242, 244, 244);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  height: 34px;
  white-space: nowrap;
  display: inline-block;

  &.touchDevice {
    height: 44px;
  }

  .downloadPdfCustomSelectionButton {
    font-size: 1em;
    border: none;
    background: transparent no-repeat center;
    background-size: contain;
    outline: none;
    width: 20%;
    min-width: 24px;
    height: 24px;
    display: inline-block;
    margin: 5px 0px 0px 0px;
    &:hover {cursor: pointer;}

    &.touchDevice {
      height: 34px;
    }
  }

  #downloadPdfCustomSelectionCancel {
    text-align: left;
    float: left;
    padding-left: 1em;
  }

  #downloadPdfCustomSelectionSelect {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #downloadPdfCustomSelectionDone{
    text-align: right;
    float: right;
    padding-right: 1em;
  }

  .downloadPdfCustomSelectionCheckbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: auto;
    top: 0;
    bottom: 0;
  }

  #downloadPdfCustomSelectionLeftCheck {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
  }
  #downloadPdfCustomSelectionRightCheck {
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
  }
}
