---
---

@import "{{ site.theme }}";

#links {
    position: absolute;
    width: 210px;
    z-index: 10;
    bottom: -40px;
    left: 0;
    height: 70px;
}

.header_link {
    display: block;
    float: left;
    width: 80px;
    height: 65px;
    text-indent: -5000px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #0090FF;
}

.toc_link {
    background: #0090FF url(../images/contents.png) no-repeat center center;
}

@media screen and (max-width: 480px) {
    #links {
        display: none;
    }
}
